* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fafafc;
  color: cadetblue;
  display: flex;
  justify-content: center;
}

p {
  font-weight: 200;
  font-size: 14px;
}

.GeminiChatbot{
  width: 80vw;
  margin: 10vw;
  height: 80vh;
}

.search-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.search-result{
  margin-top: 100px;
  overflow: scroll;
}

.input-container {
    width: 100%;
    border: solid 0.5px #cacaca;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: rgba(0,0, 82, 0.15) 0 2px 4px;
    overflow: visible;
    flex: height auto;
}

.input-container input {
  border: none;
    padding: 13px 14px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none ;
    font-weight: 200;
    width: 90%;
}

.input-container input::placeholder {
  font-weight: 200;
  color:blueviolet;
}
.surprise-me{
  background-color:blanchedalmond;
  color: black;
  border-radius: 5px;
  font-weight: 600;
  padding: 4px 12px;
  margin: 0 0 2px 5px;
  border: none;
}


.input-container button {
  min-width: 10%;
  border: none;
  border-left: 1px solid #cacaca ;
  background-color:blanchedalmond;
  color: #777;
  font-weight: bold;
  cursor: pointer;
}

.input-container button:active {
  background-color:aquamarine;
}

.answer{
    margin-top: 10px;
    padding:  13px 14px;
    border: solid 0.5px #cacaca ;
    box-sizing: border-box;
    background-color:burlywood;
    font-size: 15px;
    margin: 5px;
    border-radius: 6px;
    outline: none ;
    font-weight: 200;
}

